<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feed_Aggregator(v0.1)</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>
<body>


{% if user.is_authenticated %}
{% block list %}
{% endblock %}
<p><a href = "{% url 'add_feed' %}">Add new feed</a></p>
<p><a href="{%url 'logout' %}">Logout</a></p>
{% else %}
{% block registration %}
{%endblock %}
{% endif %}
</body>
</html>